# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/

# Credentials (NEVER commit)
credentials/*.json
credentials/new.txt

# IDE
.vscode/
.idea/
